*.la
*.lo
*.log
*.memlog
*.o
*.swp
*.tar.xz
*.trs
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
docs/libtsm.pc
libtool
m4/
stamp-h1
test-suite.log
test_htable
test_symbol
test_valgrind
