<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/content/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/content/css/index.css" type="text/css">
    <title>爬虫</title>
</head>
<body>
    <div>
        <select id="type">
            <option value="xinggan" data-id="6">性感美女</option>
            <option value="qingchun" data-id="1">清纯美眉</option>
            <option value="xiaohua" data-id="2">美女校花</option>
            <option value="chemo" data-id="3">性感车模</option>
            <option value="qipao" data-id="4">旗袍美女</option>
            <option value="mingxing" data-id="7">性感车模</option>
        </select>
        <select id="page">
        </select>     
        <button class="summit">提交</button>
        <span id="tip"></span>
    </div>
    <div id="img-container">
    </div>
    <script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
    <script src="/content/js/app.js"></script>
</body>
</html>